* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

.virtualDisplay {
    display: flex;
    margin: 10px auto;
    font-family: "Roboto";
    width: 924px;
    position: relative;
    padding-left: 48px;
}

.printedText {
    width: 864px;
    height: 200px;
    border: 3px solid rgb(211, 144, 238);
    border-radius: 10px;
    font-size: 2rem;
    padding: 10px 20px;
    color: rgb(110, 48, 134);
    outline: none;
}

.currentLanguage {
    color: rgb(211, 144, 238);
    font-size: 3.5rem;
    font-weight: 900;
    float: right;
    padding: 2px;
    position: relative;
    right: 0;
}

.keyboard {
    background-color: rgb(43, 179, 133);
    display: flex;
    flex-wrap: wrap;
    padding: 20px 30px;
    width: 884px;
    margin: auto;
    border-radius: 20px;
}

.info {
    display: block;
    margin-left: calc(50vw - 442px);
    border-radius: 10px;
    color: rgb(146, 72, 128);
    font-size: 1.6rem;
    width: 600px;
    padding: 5px 20px;
    text-align: left;
    font-family: "Roboto";
    font-weight: 500;
}

.button {
    height: 50px;
    border: 1px solid rgb(146, 72, 128);
    border-radius: 5px;;
    align-items: center;
    justify-content: center;
    position: relative;
    color: rgb(216, 219, 39);
    margin: 3px;
    background-color: rgb(146, 72, 128);
    font-family: "Roboto";
    font-weight: 500;
    display: flex;
    font-size: 1.6rem;
    transition: ease 0.2s;
}

.button:hover {
    cursor: pointer;
    border: 2px solid rgb(248, 129, 248);
    font-weight: 500;
}

.button.active {
    background-color:  rgb(248, 129, 248);
    font-weight: 500;
    border-radius: 25px;
    color: rgb(146, 72, 128);
}

.shiftText {
    font-size: 1.2rem;
    position: absolute;
    top:0;
    left:0;
    margin: 4px 6px;;
}



#Backspace {
    font-size: 1.4rem;
}

#Tab {
    justify-content: flex-start;
    padding-left: 11px;
}

#ShiftLeft {
    justify-content: flex-start;
    padding-left: 11px;
}

#CapsLock {
    padding-left: 11px;
    justify-content: flex-start;
}
